<h1>All cocktails</h1>
<ul>
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
   <li>
      <%= cocktail.name %>
    </li>
  <% end %>
<% end %>
</ul>

<%= link_to "Add a cocktail", new_cocktail_path %>
