<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('<%= image_path 'cocktails_banner.jpeg' %>');">
    <h1>Cocktail Market </h1>
    <br>
    <p>
      <span id="banner-typed"></span>
    </p>
</div>

<div class="container" style="margin-top: 70px">
  <h1>Featured cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path cocktail.photo %>')">
          <h2><%= cocktail.name %></h2>
          <%= link_to "See more", cocktail_path(cocktail), class: 'card-link nav-add-btn' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
