.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  color: white;
  padding: 150px 0;
}
