.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 450px;
  color: white;
  // margin-top: 79px;
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
}
