.navbar-fixed {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background-color ease;
  height: 60px;
  padding-top: 20px;
}

.navbar-fixed-white {
  background-color: white;
}

.navbar-fixed .navbar-collapse {
  flex-grow: 0;
}

.navbar-fixed .navbar-brand img {
  width: 40px;
}

.logo {
  transition: 0.5s ease;
}

.logo:hover {
  transform: rotate(180deg);
}

.nav-btn {
  border: 1px solid #D3D3D3;
  color: #D3D3D3;
  padding: 7px 16px;
  margin: 10px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.nav-btn:hover {
  color: #999999;
  border: 1px solid #999999;
  text-decoration: none;
}

.nav-add-btn {
  background-color: #C4D7F2;
  border: 1px solid #D3D3D3;
  padding: 7px 16px;
  margin: 10px;
  border-radius: 4px;
  color: black;
  text-align: center;
}

