.navbar-fixed {
  justify-content: space-between;
  // background: #FFDFE4;
  opacity: 0.9;
  transition: 0.5s background-color ease;
  height: 80px;
  padding-top: 30px;
  border-bottom:1px solid rgb(242,235,235);
  padding-bottom: 30px;
}

.navbar-fixed-white {
  background-color: #FDFDFD;
}

.navbar-fixed .navbar-collapse {
  flex-grow: 0;
}

.navbar-fixed .navbar-brand img {
  width: 40px;
}

.nav-btn {
  border: 1px solid #D3D3D3;
  color: #D3D3D3;
  padding: 7px 16px;
  margin: 10px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.nav-btn:hover {
  color: #999999;
  border: 1px solid #999999;
  text-decoration: none;
}

.nav-add-btn {
  background-color: #C4D7F2;
  border: 1px solid #D3D3D3;
  padding: 7px 16px;
  margin: 10px;
  border-radius: 4px;
  color: black;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
}

.nav-add-btn:hover {
  text-decoration: none;
}

.wave {
  animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;          /* Change to speed up or slow down */
  animation-iteration-count: infinite;    /* Never stop waving :) */
  transform-origin: 70% 70%;         /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}


